# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/

# Node
node_modules/
.next/

# Hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
